* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  width: 100vw;
  background-color: black;
  color: whitesmoke;
}

h1 {
  margin: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.javaScriptContent,
.javaScriptContent h2 {
  /* border: 1px solid black; */
  margin: 20px;
  padding: 10px;
  height: 50vh;
  width: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

button {
  margin-top: 20px;
  width: 60%;
  height: 20%;
  border-radius: 10px;
  border: none;
  background-color: rgb(10, 135, 245);
  box-shadow: 5px 5px 5px white;
}

button:hover {
  background-color: rgb(1, 78, 146);
  transform: translate(5px, 5px);
  box-shadow: none;
}
